{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
  <a class="navbar-brand col-md-2" style="color:white;" href="/">Neighbourhood</a>
  <br>
        <div class="dropdown col-md-5">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Menu
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="{% url 'authorities'%}">Authorities</a></li>
            <li><a href="{% url 'blog'%}">Blog</a></li>
            <li><a href="{% url 'businesses'%}">Business</a></li>
            <li><a href="{% url 'health'%}">healthservices</a></li>
            <li><a href="{% url 'notifications'%}">Notifications</a></li>
            {% if user.is_superuser %}
              <li><a href="/admin">admin</a></li>
            {% endif %}
          </ul>
        </div>
<br>

    <form class="form-inline my-2 my-lg-0 col-md-5" role="search"  action="{% url 'search_results'%}">
      <input class="form-control mr-sm-2" type="search"style="margin-left:50px;" placeholder="Search" aria-label="Search" name="blog" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
